/* styles.css */



body {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: helvetica;
    margin: 0;
    padding: 0;
}



.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
    background-color: #1F2937;
}
/* The align items center centers them vertically. The space between puts the logo on the left and the links on the right. The margin puts the space around the edges. */


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}
/* The display flex puts the items vertical. The list-type-type removes the bullets. I had 0 margin and 0 padding to get rid of strange spacemarks. */


.container-header {
    background-color: #1F2937;
    width: 100%;
    margin: 0;
}

/* This container holds the background color to the left and right of the other container */

.container-hero {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.hero-copy {
    padding-left: 15px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    
    padding-right: 25px;
}

.hero {
    font-size: 18px;
    color: #E5E7Eb;
    
    padding-right: 25px;
}

.hero-button {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7Eb;
    border: none;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
}

.container-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.child-categories {
    display: flex;
    gap: 50px;
    margin-top: 20px;
}

.rounded {
    border-radius: 25px;
    border:#1F2937;
}

.container-quote {
    background-color:#E5E7EB;
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: -30px;
}

.container-byline {
    
    font-weight: bold;
    text-align: right;
    margin-right: 320px;
  
    
}

.callout {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #3882F6;
    display: flex;
    padding: 25px 150px;
    justify-content: space-between;
    align-items: center;
}

.callout-button {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7Eb;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-color: white;
    margin: 0;
  
}

.callout-header {
    font-size: 24px;
    color: #E5E7Eb;
    font-weight: bold;
}

.p-footer {
    font-size: 12px;
   
}